* {
    margin: 0;
    scroll-behavior: smooth;
    scroll-margin: 150px;
  }

  body{
    background-color: rgb(238, 238, 238);
    font-family: 'Kalam', cursive;
    background-image: url(./pexels-fwstudio-172292.jpg);
    background-size: cover;
  }
/* Heading */

.top{
    position: fixed;
    z-index: 1;
}

.head{
    font-size:21px;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ff3539, #ff9966);
    color:aliceblue;
    max-height: 100px;
    font-family: 'Kalam', cursive;
    min-width: 100%;
    
}

#myVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 0;
    z-index: -1;
    
  }

h1{
    transition: 0.2s ease-in-out;
    padding: 10px;
    font-weight:bolder;
}

h1:hover{
    text-shadow: 2px 2px black;
    transition: 0.2s ease-in-out;
}



/* Button */
button{
    background: linear-gradient(to right, #ff3539, #ff9966);
    padding: 5px 20px 10px 20px;
    font-size: 20px;
    color: black;
    transition: 0.3s;
    border: none;
    font-family: 'Kalam', cursive;
    /* border-color: linear-gradient(to right, #ff3539, #ff9966);  */
    /* box-shadow: 3px 3px 10px 1px #ff9966, 1px 1px  #ff9966 inset; */

}

button:hover{
    /* background-color: rgb(0, 0, 0); */
    transition: 0.3s;
    /* scale: 1.05; */
    cursor:pointer;
    box-shadow: 3px 3px 10px 1px black, 1px 1px  #ff9966 inset;
    color: white;
}

/* Add task panel */

.addtask{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    margin-top: 7px;
}

.pos{
    position: fixed !important;
}

#startTime, #endTime{
    margin: 10px;
}

.taskform{
    box-shadow: -1px 0px 20px 1px #ff3539;
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    /* padding-left: 40px;
    padding-right: 40px; */
    max-width: 300px;
    /* width: 350px; */
    border: 3px solid #ff9966;
    background-color: white;
}

.timeinput{
    transform: translateX(-5px);
}

input{
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    margin: 5px;
    border: 2px solid #ff9966 ;
    box-shadow: 1px 1px 1px 1px #ff3539;
    border-radius: 6px;
    width: 190px;
}

#saveTask{
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    /* border-radius: 20%; */
    margin-top:25px;
    padding: 15px;
    border-radius: 7px;
}

#addTaskBtn{
    width: 345px;
    box-shadow: none;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

#addTaskBtn:hover{
    box-shadow: 3px 3px 10px 1px black;
}

.listnav{
    display: flex;
    position: absolute;
    left: 0;
    /* flex-direction: row; */
    z-index: 1;
}


.task-controller{
    transform: translate(-100px,40vh) rotateZ(-90deg);
    position: absolute;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 30vh;
}

a{
    text-decoration: none;
    font-size: 25px;
    color: rgb(33, 33, 33);
    padding: 5px;
    transition: 0.2s ease-in-out;
    background:linear-gradient(to right, #ff3539, #ff9966); 
    color: white;
    border-radius: 7px;
    padding-left: 30px;
    padding-right: 30px;
}

a:hover{
    scale: 1.05 !important;
    transition: 0.2s ease-in-out;
    box-shadow: 2px 2px 20px 1px black;
}

.slide{
    left: 0px;
    position: absolute;
    transform: translateX(222px) translateY(40vh) rotateZ(-90deg);
}

.list{
    display: none;
    box-shadow: 2px 2px 10px 1px black;
    min-height: 90vh;
    background: linear-gradient(to right, #ff3539 , #ff9966);
    border: 3px solid #ff3539;
    width: 260px;
    z-index: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start !important;
    padding: 20px;
    background-image: url(./todo.png);
    background-size: cover;
    margin-top: 7px;
    

}

.sideList{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.sideList>li{
    margin-top: 20px;
}

.tasks{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-top: 80px;
}

.task-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: auto;
    justify-self: center;
    align-items: center;
    /* height: 80vh; */
    /* margin-left: 800px; */
    /* margin-top: 15px; */
}

.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 3px solid black;
    min-height: 500px;
    flex-direction: column;
    max-width: 200px;
    min-width: 200px;
    margin: 15px;
    box-shadow: 2px 2px 15px 1px black ;
    background-color: white;
    margin-top: 90px; 
    transition: 0.3s ease-in-out;
}

.timeslot, .comment{
    border: 3px solid #ff9966;
    border-radius: 7px;
    width: 90%;
    /* padding: 10px; */
}

.task:hover{
    scale: 1.02;
    transition: 0.3s ease-in-out;
    box-shadow: 4px 4px 20px 10px black ;
}

span{
    font-size: 25px;     
    transition: 0.2s ease-in-out;
    padding: 5px;
}

p{
    font-size: 20px;
    color: black;
    font-weight: bolder;
    padding: 10px;
}

span:hover{
    text-shadow: 2px 2px black;
    transition: 0.2s ease-in-out;
}

.comment{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.open{
    display: flex !important;
    justify-content: center;
    z-index: 1;
}

.task-actions {
    display: flex;
    gap: 10px;
}



.complete-task, .delete-task, .taskhead{
    border-radius: 5px ;
}

.complete-task,.delete-task{
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 15px;
}

.completed-task {
    text-decoration: line-through;
    opacity: 0.7;
   
}

select,
input[type="time"] {
    /* padding: 5px; */
}

 @media screen and (max-width: 762px) {
    .task-list{
        flex-direction: column;
        z-index: 0;
        margin-left: 0;
        justify-content: center;
    }

}
